.form
{
    font-size: 20px;

    margin: 0;
    padding: 0;
}

.form__table
{
    font-size: 100%;

    border-collapse: collapse;

    background: #fff;
}

.form__col
{
    padding: 10px 10px 10px 0;
}

.form__col:first-child
{
    padding-left: 10px;
}
